<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<%- include('../sliders/section1'); %>
				<%- include('../sliders/section2'); %>
				<%- include('../sliders/section3'); %>
				<%- include('../sliders/section4'); %>
				<%- include('../sliders/section6'); %>
				<%- include('../sliders/section7'); %>
				<%- include('../sliders/section8'); %>
				<%- include('../sliders/section9'); %>
				<%- include('../sliders/section10'); %>
				<%- include('../sliders/section11'); %>
				<%- include('../sliders/section12'); %>
				<%- include('../sliders/section13'); %>
				<%- include('../sliders/section14'); %>
				<%- include('../sliders/section15'); %>
				<!-- <section id="stretch">
					<h2>Stretch</h2>
					<p>Makes an element as tall as possible while remaining within the slide bounds.</p>
					<pre><code class="html" data-trim data-line-numbers>
					  <h2>Stretch Example</h2>
					  <img src="assets/image2.png" class="r-stretch">
					  <p>Image byline</p>
					</code></pre>
				</section> -->
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
